  <table>
    <tbody>
        <tr>
        <th align="center">Time Until Session</th>
        <th align="center">Options and Expectations</th>
      </tr>
      <tr>
        <td align="center">48+ hours</td>
        <td align="left">
          <ul>
              <li><strong>Book</strong> a new session at a time that's available on <a href="http://hamilton.appointlet.com">my Appointlet page.</a> Please note that Appointlet only offers sessions with start times 48+ hours away, so please plan ahead and then take your pick! </li>
            <li><strong>Reschedule</strong> an existing session to a different, available time that's at
    least 48 hours away, free of charge.</li>
            <li><strong>Cancel</strong> an existing session, free of charge.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td align="center">24-48 hours</td>
        <td>
          <ul>
            <li><strong>Reschedule</strong> an existing session to a different, available time that's at
                least 48 hours away, free of charge.</li>
            <li><strong>Cancel</strong> an existing session, free of charge.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td align="center">0-24 hours</td>
        <td align="center">
            <strong>No changes permitted.</strong> At this point, I will have organized my personal, professional, and
    educational lives to give you my undivided attention and expertise at the time you
    requested. In exchange, you'll be responsible for the full balance of the session
    you booked, whether the student is able to attend or not.
        </td>
      </tr>
    </tbody>
  </table>
